*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: rgb(247, 235, 6);
}
body{
	background-color: rgb(247, 235, 6);
	color:black;
}
.glyphicon{
	font-size: 30px;
	color:rgb(247, 235, 6); 
}

.center{
	width: 90%;
	background-color: white;

}
.container
{
	background-color: white;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: rgb(247, 235, 6);
}
.navbar-brand{
font-size: 30px;	
}